* {
    box-sizing: border-box;
  }


body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    margin: 0; padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile-logo {

    width: 120px;
    border-radius: 30px;
  
  }

  .container {
    max-width: 1440px;
    margin: 0 auto;
  }


.contact {
  list-style: none;
  padding: 0;
}

  .nav-list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;

  }

  .nav-link {
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
  }

  .main-container {
    display: flex;
    flex-wrap: wrap;
    
  }
  
  .section {
    width: 50%;
    
  }


  @media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }

  .leushin {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .my-profil {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    flex-basis: 100%;
    padding: 0;
  }

 

  .footer-container {
    display: flex;
    justify-content: space-between;
  }

  header {
    
    background-color: gainsboro;
  }

 

  footer {
    
    background-color: gainsboro;
  }

  main {
    background-color: ;
  }
