* {
    box-sizing: border-box;
  }


body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    margin: 0; padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.profile-logo {

    width: 150px;
    height: 150px;
    
  }

  /* .rss {
    width: 121px;
    height: 45px;
    background-image: url();
    background-size: contain;
    background-repeat: no-repeat;
} */

.nav-list {
    display: flex;
    /* justify-content: flex-end; */
    align-items: center;
  }

.container {
    max-width: 1440px;
    margin: 0 auto;
  }



html {
    scroll-behavior: smooth; 
  }

  .nav-list {
    list-style: none;
  }

  .nav-link {
    padding: 0 20px;
    line-height: 50px;
  }  

  .nav-link {
    transition: .3s;
  }

  .main-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .section {
    width: 50%;
  }

  @media (max-width: 768px) {
    .section {
      width: 100%;
    }
  

  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    color: #fff;
  }

 .container footer {
display: block;
 }
 

 
 
